<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="container">
    <div class="row col-10 col-sm-8 col-md-6 col-lg-4 mx-auto mt-3">

        <form novalidate class="validation"  th:action="@{/admin/arme/update}" th:object="${arme}" method="post">
            <h2 class="mb-4">Modification d'une arme</h2>
            <!-- Input pour l'id de l'arme -->
            <input readonly required type="hidden" name="id" th:field="${arme.id}">

            <!-- Input pour le nom -->
            <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input required type="text" class="form-control" id="nom" name="nom" th:field="${arme.nom}">
            </div>

            <!-- Input pour la description de l'arme -->
            <div class="mb-3">
                <label for="description" class="form-label">Description de l'arme</label>
                <input required type="text" class="form-control" id="description" name="description" th:field="${arme.description}">
            </div>




            <!-- Input pour le cheminImage -->
            <div class="mb-3">
                <label for="cheminImage" class="form-label">Nom du cheminImage </label>
                <input required min="0" max="99" type="text" class="form-control" id="cheminImage" name="cheminImage" th:field="${arme.cheminImage}">
            </div>


            <!-- Bouton de soumission -->
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
    </div>
</main>
